@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
	font: 16px/1.5 Open+Sans, sans-serif;
	background-color: #002b36;
	color: #839496;
}
@media (min-width: 30rem) {
	html {
		font-size: 20px;
	}
}

body {
	margin: 2rem 0 5rem;
	background-color: #002b36;
	margin: 0 auto;
	max-width: 23cm;
	padding: 1em;
}

@media (min-width: 30rem) {
	body {
		margin-top: 3rem;
	}
}


a {
	color: #b58900;
	text-decoration: none;
}
a:visited {
	color: #cb4b16;
}
a:hover {
	color: #cb4b16;
}

a:hover, a:focus {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open+Sans, sans;
	margin: 0 0 0.5rem -0.1rem /* align left edge */;
	line-height: 1;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;

}

@media (min-width: 30rem) {
	h1 {
		font-size: 3rem;
		margin-bottom: 3rem;
	}
}

h1 {
	color: #d33682;
}
h2,
h3,
h4,
h5,
h6 {
	color: #859900;
}

h2 {
	margin-top: 2rem;
	font-size: 1.25rem;
	margin-bottom: 0.75rem;
}

@media (min-width: 30rem) {
	h2 {
		margin-top: 2.5rem;
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}

h3, h4, h5, h6 {
	margin-top: 1.5rem;
	font-size: 1rem;
}

p, ul, ol, dl, table, pre, blockquote {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul, ol {
	padding-left: 1.5rem;
}

dd {
	margin-left: 1.5rem;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding: .5rem 1rem;
	border-left: .25rem solid #ccc;
	color: #666;
}

blockquote p:last-child {
	margin-bottom: 0;
}

hr {
	border: none;
	margin: 1.5rem 0;
	border-bottom: 1px solid #ccc;
	position: relative;
	top: -1px;
}

.container img, .container iframe {
	max-width: 100%;
}

.container img {
	margin: 0 auto;
	display: block;
}

table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td, th {
	padding: .25rem .5rem;
	border: 1px solid #ccc;
}

pre, code {
	font-family: monospace, serif;
	background-color: #073642;
}

pre {
	padding: .5rem 1rem;
	font-size: 0.8rem;
}

code {
	padding: .1rem .25rem;
}

pre > code {
	padding: 0;
}

.container {
	max-width: 30rem;
	margin: 0 auto;
	padding: 0 1rem;
}
